<section class="login">

<article class="articleLogin">
  
  <form action="/login" method="POST" id="form-container">
  <input id="username" type="text" name="username" placeholder="Username">

  <input id="password" type="password" name="password" placeholder="Password">
 
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/signup">Signup</a>
  </p>
  </form>

  
</article>
  

</section>
