<section class="login">

<form action="/signup" method="POST" id="form-container">
 
  <input id="username" type="text" name="username" placeholder="Username">

  <input id="password" type="password" name="password" placeholder="Password">

  <input id="email" type="text" name="email" placeholder="email@example.com">
  
  {{#if message }}
    <div class="error-message text-danger">{{ message }}</div>
  {{/if}}

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>
</section>
