<div class="container">

  

  <h1 style="font-weight: 100">Ãndice de Sugerencias</h1>

  <hr>

  {{#each suggestions}}
    <a href="/suggestion/{{_id}}" class="btn btn-sm btn-dark">Ver detalles</a>
    <a href="/suggestion/delete/{{_id}}" class="btn btn-sm btn-danger">Eliminar</a>
    <a href="/suggestion/edit/{{_id}}" class="btn btn-sm btn-info">Editar</a>
    <p>{{name}}</p>
    
    <hr>
  {{/each}}
  <a href="/suggestion/new" class="btn btn-dark">Crear nueva sugerencia</a>
</div>