<div class="container">

  <h1 style="font-weight: 100">{{name}}</h1>

  <h4>Descripción:</h4>
  <p>{{description}}</p>
  <hr>

  <h5>Dirección:</h5>
  <p><strong>{{address}}</strong>:</p>
  <hr>

  <h5>No te puedes ir sin:</h5>
  <p><strong>{{recommendation}}</strong>:</p>
  <hr>


  <a href="/suggestion" class="btn btn-dark">Volver</a>

</div>