<div class="content-wrap mt-5">

  

  <h1 style="font-weight: 100">Índice de Sugerencias de los usuarios</h1>
  
  <hr>
  <div class="row">

    {{#each suggestions}}
    
      {{>suggestion this}}
    
    {{/each}}
  </div>
  
</div>