<section class="index">
  <div class="hero">

    <h1>Madri<span>Z</span> de Cine</h1>
    <p>Te ayudamos a encontrar las localizaciones de las peliculas rodadas en Madrid.</p>
    <h2>Descubrelas</h2>
  </div>

  <figure id="myMap"></figure>
</section>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../javascripts/mapStyles.js"></script>
<script src="../javascripts/map.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key={{SECRET}}&callback=initMap"></script>