<h1>Alta de nueva sugerencia</h1>
<hr>

<form action="/suggestion/new" method="post">
    <label for="">Nombre:</label>
    <input type="text" name="name">
    <br>
    <label for="">Descripción:</label>
    <input type="text" name="description">
    <br>
    <label for="">Dirección:</label>
    <input type="text" name="address">
    <br>
    <label for="">No puedes irte sin:</label>
    <input type="text" name="recommendation">
    <hr>
    <button type="submit">AÑADIR</button>
</form>

{{!-- este formulario funciona correctamente --}}