<div class="container">

  <h1 style="font-weight: 100">{{title}}</h1>

  <h4>Descripción</h4>
  <p>{{description}}</p>
  <hr>

  <h5>Sobre el parque</h5>
  <p><strong>Nombre</strong>:</p>
  <p><strong>Descripción</strong>:</p>

  <a href="/film" class="btn btn-dark">Volver</a>

</div>