<div class="content-wrap mt-5">

  

  <h1 style="font-weight: 100">Índice de Peliculas</h1>
  <a class="btnAdd"href="/film/new" class="btn">Crea una nueva pelicula</a>
  <hr>
  <div class="row"> 

  
  {{#each films}}
    {{>filmIndex this}}
  {{/each}}
  </div>

  
</div>