<div class="container">

  <div class="row">

    <div class="col-md-6">
      <h1 style="font-weight: 100">Crear Pelicula</h1>
    </div>

    <div class="col-md-6">

      <form action="/film/new" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title-input">Title</label>
          <input name="title" type="text" class="form-control" id="title-input" placeholder="Title">
        </div>
        <div class="form-group">
          <label for="year-input">Year</label>
          <input name="year" type="text" class="form-control" id="year-input" placeholder="19xx">
        </div>
        <div class="form-group">
          <label for="director-input">Director</label>
          <input name="director" type="text" class="form-control" id="director-input" placeholder="Director mcDirector">
        </div>
        <div class="form-group">
          <label for="place-input">Place</label>
          <input name="place" type="text" class="form-control" id="place-input" placeholder="A place">
        </div>
        <div class="form-group">
          <label for="argument-textarea">Argument</label>
          <textarea type="text"name="argument" id="argument-textarea" cols="60" rows="4" placeholder="Once upon a time...">
          </textarea>
        </div>

        <h5>Establece las coordenadas</h5>
        <div class="form-group">
          <label for="lat-input">latitud</label>
          <input name="lat" type="text" class="form-control" id="lat-input" placeholder="0.000000">
        </div>
        <div class="form-group">
          <label for="lng-input">longitud</label>
          <input name="lng" type="text" class="form-control" id="lng-input" placeholder="0.000000">
        </div>

        <div class="form-group">
          <label for="actors-input">Actores:</label>
          <div class="btn btn-sm btn-success" id="newActor">add actor</div>
          <div class="btn btn-sm btn-danger" id="delActor">del actor</div>
        </div>

        <div class="form-group">
          <label for="place-input">Place:</label>
          <div class="btn btn-sm btn-success" id="newPlace">add place</div>
          <div class="btn btn-sm btn-danger" id="delPlace">del place</div>
        </div>


        <div class="form-group">
          <label for="photo-input">Poster</label>
          <input type="file" name="phototoupload"><br>
          <label for="photo-input">Place Photo</label>
          <input type="file" name="phototoupload"><br>
        </div>

        <button type="submit" class="btn btn-dark">Add Film</button>
        <a href="/film" class="btn btn-dark">Volver</a>

      </form>
    </div>

  </div>
</div>

<script src="../javascripts/addActor.js"></script>
<script src="../javascripts/addPlace.js"></script>